body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  margin: 0 20px;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

}
